@{
  Layout = "_Layout";
}
    <form action="/places" method="post">
      <p>Add a new place by filling out the following fields</p>
      <label for="cityName">Name of place:</label>
      <input id="cityName" name="cityName" type="text">
      <label for="imgUrl">Image URL:</label>
      <input id="imgUrl" name="imgUrl" type="text">
      <button type="submit">Submit</button>
    </form>
 