@{
  Layout = "_Layout";
}
    <h1>Places: </h1>

    <h2>@Model.CityName</h2>
    <img src=$"{@Model.ImgUrl}" alt="">

    <a href='/places/new'>Add another place</a>
    <a href='/places'>View all places</a>
  